{% extends 'test_task/index.html' %}
{% load static %}
{% block content %}
<h2 class="title">Добро пожаловать</h2>
    <div class="story">
        <h3>Приложение должно:</h3>
    </div>
    <div id="example" class="post">
          <li>
              Иметь возможность (точку входа) для авторизованных пользователей в UI просматривать список заказов,
            добавлять и удалять заказ от конкретного заказчика.
          </li>
          <li>
              Иметь возможность (точку входа) передавать перечень заказов в json-формате сторонней системе. В качестве метода
            авторизации, необходимо использовать Basic-авторизацию.
          </li>
          <li>
              Иметь открытую (доступную для неавторизованного пользователя) страницу (точку входа), показывающую перечень заказов
         за выбранную неделю с помощью AJAX.
          </li>
    </div>
{% endblock content %}