{% extends 'test_task/index.html' %}
{% load static %}
{% block content %}

    <h3>{{ object.title }}</h3>
    <p>{{ object.price }}</p>
    <p>{{ object.customer }}</p>
    <i>{{ object.date_created }}</i>
<br>
{% if request.user.is_authenticated %}
<form method="POST" action="{% url 'delete_order' object.id %}">
   {% csrf_token %}
       <input type="submit" value="Удалить">
</form>
{% endif %}
    <br>
<a href="{% url 'order_list' %}" class="default-btn">Назад</a>
{% endblock content %}


